body {
    font-family: 'Open Sans', sans-serif;
}

/* GENERAL STYLES  */
.inner {
    width: 80%;
    margin: auto;
}

header {
    padding: 20px 0px;
    background-color: #000000;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

header nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

header nav .rightSide {
    display: flex;
    align-items: center;
    color: #b0b0b0;
    cursor: pointer;
}

header nav .rightSide li:not(:last-of-type) {
    margin-right: 45px;
}

.sectionOne {
    background-color: #9a9a9a;
    padding: 60px 0 135px 0;
    position: relative;
}

.sectionOne .inner img {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
    max-height: 300px;
    width: auto;
}

.sectionOne .inner .sectionOneBottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sectionOne .inner .sectionOneBottom .leftSide {
    width: 42%;
    text-align: left;
}

.sectionOne .inner .sectionOneBottom .leftSide img {
    margin-bottom: 35px;
}

.sectionOne .inner .sectionOneBottom .leftSide h2 {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 40px;
}

.sectionOne .inner .sectionOneBottom .leftSide hr {
    content: '';
    border: 1px solid #ffffff;
    width: 65px;
    margin-bottom: 40px;
    margin-left: 0;
}

.sectionOne .inner .sectionOneBottom .leftSide p {
    color: #dadada;
    line-height: 1.5;
    margin-bottom: 45px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

.sectionOne .inner .sectionOneBottom .leftSide button,
.sectionNine .inner button,
.close {
    border: 2px solid #e6e6e6;
    padding: 13px 30px;
    background-color: #9a9a9a;
    color: #ececec;
    cursor: pointer;
    outline-color: #333333;
}

.sectionOne .inner .sectionOneBottom .rightSide {
    width: 32%;
    text-align: center;
    border: 1px solid #9a9a9a;
    border-radius: 5px;
    background-color: #ffffff;
}

.sectionOne .inner .sectionOneBottom .rightSide h3 {
    background-color: #f5f5f5;
    color: #333333;
    font-size: 15px;
    font-weight: 600;
    padding: 20px 0px;
}

.sectionOne .inner .sectionOneBottom .rightSide span {
    color: #ff8b38;
    text-transform: uppercase;
    font-weight: 600;
}

.sectionOne .inner .sectionOneBottom .rightSide input {
    box-sizing: border-box;
    border: none;
    width: 80%;
    margin: auto;
    border-bottom: 1px solid #d6d6d6;
    border-left: 1px solid #fbfbfb;
    border-right: 1px solid #fbfbfb;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    outline-color: #333333;
}

.sectionOne .inner .sectionOneBottom .rightSide input::placeholder,
.sectionTen .inner .middle input::placeholder,
.sectionTen .inner .middle textarea::placeholder {
    color: #c1c1c1;
}

.sectionOne .inner .sectionOneBottom .rightSide input.name,
.sectionOne .inner .sectionOneBottom .rightSide input.email {
    margin: 30px 0px 0px 20px;
}

.sectionOne .inner .sectionOneBottom .rightSide input.password {
    margin: 30px 0px 40px 20px;
}

.sectionOne .inner .sectionOneBottom .rightSide button {
    color: #ffe6d3;
    background-color: #ff9b51;
    width: 100%;
    border: none;
    padding: 22px 0px;
}

.sectionTwo {
    border-bottom: 1px solid #b7b7b7;
    box-shadow: 0px 2px #e0dfdf;
    background-color: #ffffff;
}

.sectionTwo .inner {
    display: flex;
    justify-content: space-between;
}

.sectionTwo .inner .leftSide {
    width: 30%;
}

.sectionTwo .inner .leftSide h4 {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    margin-top: 25px;
    margin-bottom: 15px;
}

.sectionTwo .inner .leftSide p {
    font-size: 10px;
    line-height: 1.5;
    color: #86878b;
    margin-bottom: 23px;
}

.sectionTwo .inner .rightSide {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sectionTwo .inner .rightSide img {
    height: 45px;
    width: auto;
}

.sectionThree {
    background-color: #f5f5f5;
    padding-top: 145px;
    padding-bottom: 115px;
}

.sectionThree .inner {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.sectionThree .inner .leftSide .tab {
    padding: 50px 35px;
    color: #ffffff;
    background-color: #333333;
    border: 1px solid #c7c7c7;
    border-top: none;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
    white-space: nowrap;
}

.sectionThree .inner .leftSide .tab1 {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.sectionThree .inner .leftSide .tab3 {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.sectionThree .inner .leftSide .tab:hover {
    background-color: #ff8b38;
}

.sectionThree .inner .middle {
    width: 40%;
}

.sectionThree .inner .middle h4 {
    font-size: 15px;
    color: #000000;
    margin-bottom: 55px;
    font-weight: 600;
    padding-top: 10px;
}

.sectionThree .inner .middle p,
.sectionFive .inner .leftSide p,
.sectionSix .inner .top p,
.sectionSix .inner .bottom .third p,
.sectionSeven .inner .top p,
.sectionEight .inner .top p,
.sectionTen .inner .top p {
    font-size: 11px;
    color: #86878b;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 1.5;
    /* text-align: justify; */
}

.sectionThree .inner .middle button,
.sectionTen .inner .bottom button {
    margin-top: 20px;
    color: #ffe2cd;
    background-color: #ff8b38;
    padding: 17px 24px 15px 24px;
    cursor: pointer;
    outline-color: #333333;
    border-radius: 5%;
    font-size: 12px;

}

.sectionThree .inner .rightSide {
    margin-left: 20px;
    margin-top: 25px;
}

.sectionFour {
    padding-top: 105px;
    padding-bottom: 135px;
    background-color: #ffffff;
}

.sectionFour .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionFour .inner .leftSide img,
.sectionFive .inner .rightSide img {
    box-shadow: 0 3px 5px 5px rgba(156, 155, 155, 0.1);
}

.sectionFour .inner .leftSide,
.sectionFive .inner .rightSide {
    width: 42%;
}

.sectionFour .inner .rightSide {
    width: 42%;
}

.sectionFour .inner .rightSide h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #212121;
}

.sectionFour .inner .rightSide hr,
.sectionFive .inner .leftSide hr {
    margin-bottom: 30px;
    content: '';
    border: 1px solid #ff8b38;
    width: 65px;
    margin-left: 0;
}

.sectionFour .inner .rightSide .firstP {
    max-width: 430px;
    font-size: 11px;
    color: #86878b;
    line-height: 1.5;
    margin-bottom: 50px;
}

.sectionFour .inner .rightSide .box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sectionFour .inner .rightSide .box img {
    margin-right: 35px;
}

.sectionFour .inner .rightSide .box h5 {
    color: #212121;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.sectionFour .inner .rightSide .box .paragraph {
    color: #a4a5a8;
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.sectionFive {
    background-color: #f5f5f5;
    padding: 90px 0px 130px 0px;
}

.sectionFive .inner {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.sectionFive .inner .leftSide {
    width: 40%;
}

.sectionFive .inner .leftSide h4 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #212121;
}

.sectionSix,
.sectionEight {
    padding-top: 110px;
    padding-bottom: 105px;
}

.sectionSix .inner,
.sectionEight .inner {
    text-align: center;
}

.sectionSix .inner .top h2,
.sectionSeven .inner .top h2,
.sectionEight .inner .top h2 {
    font-size: 26px;
    color: #212121;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.sectionSix .inner .top hr,
.sectionSeven .inner .top hr,
.sectionEight .inner .top hr,
.sectionTen .inner .top hr {
    margin-bottom: 30px;
    content: '';
    border: 1px solid #ff8b38;
    width: 65px;
}

.sectionSix .inner .bottom,
.sectionEight .inner .bottom {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.sectionSix .inner .bottom .third:not(:last-of-type) {
    margin-right: 30px;
}

.sectionSix .inner .bottom .third img {
    max-width: 70px;
    height: auto;
    margin-bottom: 30px;
}

.sectionSix .inner .bottom .third h4 {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    color: #333333;
    margin-bottom: 30px;
}

.sectionSeven {
    padding-top: 110px;
    padding-bottom: 95px;
    background-color: #f5f5f5;
}

.sectionSeven .inner .top,
.sectionEight .inner .top {
    text-align: center;
}

.sectionSeven .inner .bottom {
    display: flex;
    justify-content: space-between;
}

.sectionSeven .inner .bottom table {
    width: 30%;
    text-align: center;
}

.sectionSeven .inner .top p {
    margin-bottom: 80px;
}

.sectionSeven .inner .bottom th {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    padding: 22px 0;
    background-color: #333333;
    border-bottom: 1px solid #f5f5f5;
}

.sectionSeven .inner .bottom table .price {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: #ffffff;
    background-color: #333333;
    padding: 30px 0;
}

.sectionSeven .inner .bottom table .price span {
    font-size: 34px;
}

.sectionSeven .inner .bottom table .payment {
    background-color: #333333;
    border-bottom: 5px solid #ff8b38;
    padding-bottom: 20px;
    color: #999999;
    font-style: italic;
    font-size: 11px;
    font-weight: 500;
}

.sectionSeven .inner .bottom table .popular {
    padding: 10px 0 15px 0;
    color: #ffffff;
    background-color: #ff8b38;
}

.sectionSeven .inner .bottom table .plan {
    background-color: #ffffff;
    padding: 15px 0;
    border: 1px solid #f5f5f5;
    color: #86878b;
    font-size: 11px;
    text-transform: uppercase;
}

.sectionEight .inner .bottom .third {
    width: 27%;
}

.sectionEight .inner .bottom .third .bubbly {
    position: relative;
    background-color: #f5f5f5;
    padding: 25px 10px 30px 10px;
    border-radius: 2%;
    margin-bottom: 25px;
}

.sectionEight .inner .bottom .third .bubbly:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-top-color: #f5f5f5;
    border-bottom: 0;
    margin-left: -12px;
    margin-bottom: -12px;
}

.sectionEight .inner .bottom .third p {
    color: #86878b;
    font-size: 11px;
    font-style: italic;
    text-align: left;
    line-height: 1.5;
}

.sectionEight .inner .bottom .third .box {
    display: flex;
    justify-content: left;
    align-items: center;
}

.sectionEight .inner .bottom .third img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

.sectionEight .inner .bottom .third .person {
    text-align: left;
}

.sectionEight .inner .bottom .third .name {
    height: 16px;
    color: #333333;
    font-weight: 600;
    margin-bottom: 10px;
}

.sectionEight .inner .bottom .third .position {
    font-size: 11px;
    color: #86878b;

}

.sectionNine {
    background-color: #9a9a9a;
    padding: 75px 0 25px 0;
    text-align: center;
}

.sectionNine .inner h2 {
    color: #ffffff;
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 1.5;
}

.sectionNine .inner hr {
    margin-bottom: 30px;
    content: '';
    border: 1px solid #ffffff;
    width: 65px;
}

.sectionNine .inner p {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #cccccc;
    margin-bottom: 35px;
    line-height: 1.5;
}

.sectionNine .inner button {
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.sectionNine .inner img {
    max-height: 300px;
    width: auto;
}

.sectionTen {
    padding: 110px 0 80px 0;
    text-align: center;
}

.sectionTen .inner .top h2 {
    margin-bottom: 30px;
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #212121;
}

.sectionTen .inner .middle {
    display: flex;
    justify-content: space-between;
    padding: 80px 0 40px 0;
}

.sectionTen .inner .middle .leftSide {
    width: 47%;
}

.sectionTen .inner .middle input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    padding: 5px 0 10px 15px;
    outline-color: #333333;
}

.sectionTen .inner .middle input:not(:last-of-type) {
    margin-bottom: 35px;
}

.sectionTen .inner .middle .rightSide {
    width: 47%;
}

.sectionTen .inner .middle .rightSide textarea {
    outline: none;
    resize: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    padding: 0 0 0 15px;
}

.sectionTen .inner .bottom button {
    margin: 0 0 0 80px;
}

footer {
    background-color: #000000;
    padding: 20px 0 15px 0;
    text-align: center;
}

footer .inner .top {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
}

footer .inner .top img {
    height: 25px;
    width: auto;
}

footer .inner .bottom {
    color: #808080;
    font-size: 10px;
}

.popup-overlay {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.popup-overlay.active {
    visibility: visible;
    text-align: center;
}

.popup-content {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    background-color: #fff;
    line-height: 1.5;
    padding: 20px 0;
}
.popup-content p {
    margin: 20px 20px;
}

.popup-content.active {
    visibility: visible;
}

.sandwich {
    display: none;
    width: 32px;
    height: auto;
    vertical-align: middle;
    cursor: pointer;
}

.mobileMenu {
    position: fixed;
    top: 72px;
    right: 0px;
    height: auto;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    /* left: -500px; */
    display: none;
}

.mobileMenu li {
    padding: 15px 30px;
    text-align: center;
    min-width: 130px;
    border-bottom: 1px solid #9a9a9a;
    cursor: pointer;
}

.mobileMenu li:hover {
    background-color: #9a9a9a;
}

@media (max-width: 750px) {
    header nav .rightSide li {
        display: none;
    }

    .sandwich {
        display: inline-block;
    }
}

/* TIK telefonams */

@media (max-width: 667px) {

    .sectionOne .inner .sectionOneBottom,
    .sectionTwo .inner,
    .sectionFour .inner,
    .sectionFive .inner,
    .sectionSix .inner .bottom,
    .sectionSeven .inner .bottom,
    .sectionEight .inner .bottom,
    .sectionTen .inner .middle {
        display: block;
        width: 100%;
    }

    .sectionOne,
    .sectionThree,
    .sectionFour,
    .sectionFive,
    .sectionSix,
    .sectionSeven,
    .sectionEight,
    .sectionNine,
    .sectionTen {
        padding: 40px 30px 40px 30px;
    }

    .sectionOne .inner .sectionOneBottom .leftSide,
    .sectionFive .inner .leftSide,
    .sectionSeven .inner .bottom table,
    .sectionEight .inner .bottom .third,
    .sectionTen .inner .middle .leftSide,
    .sectionTen .inner .middle .rightSide {
        width: 100%;
    }

    .sectionOne .inner img {
        height: auto;
        margin-top: 35px;
        margin-bottom: 0px;
    }

    .sectionOne .inner .sectionOneBottom .leftSide img {
        margin: 20px;
    }

    .sectionOne .inner .sectionOneBottom .rightSide {
        width: 100%;
        margin-top: 20px;
    }

    .sectionThree .inner {
        margin: 0 0px 0 10px;
    }

    .sectionTwo .inner .leftSide,
    .sectionTwo .inner .rightSide {
        width: 100%;
        text-align: center;
    }

    .sectionTwo .inner .rightSide {
        margin-bottom: 20px;
    }

    .sectionThree .inner .rightSide {
        display: none;
        margin: 0;
    }

    .sectionThree .inner .middle {
        width: 100%;
    }

    .sectionFour .inner .leftSide,
    .sectionFive .inner .rightSide {
        display: none;
    }

    .sectionFour .inner .rightSide,
    .sectionFive .inner .leftSide {
        width: 100%;
    }

    .sectionFour .inner .rightSide .box .paragraph {
        margin-bottom: 20px;
    }

    .sectionFive .inner .rightSide {
        margin-bottom: 0;
    }

    .sectionSix .inner .bottom .third:not(:last-of-type) {
        margin-right: 0;
    }

    .sectionSeven .inner .bottom table,
    .sectionSeven .inner .top p {
        margin-bottom: 40px;
    }

    .sectionEight .inner .bottom .third .box {
        justify-content: center;
        margin-bottom: 20px;
    }

    .sectionTen .inner .middle input {
        margin-bottom: 35px;
    }

    .sectionTen .inner .middle .rightSide textarea {
        height: 150px;
    }

    footer .inner .top {
        width: 100%;
    }
}